@use '../util' as *;

/* layout */

/* all layout related stuff, in this includes all flex box things */

/* also include sizing of some element like main and footer as their size will affect final layout */

// define your layout here i think

/* center vertically and horizontally */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row-reverse;
  }
}

/* make footer stick to bottom */

main {
  margin-bottom: rem(-25);
  min-height: 100%;
}

.container {
  max-width: rem(330);

  @include breakpoint(large) {
    min-width: rem(1110);
  }
}

.footer {
  height: rem(25);
}
