@use '../util/' as *;

.card {
  border-radius: rem(15);
  background-color: var(--card-bg);

  &_img{
    // position: relative;
    width: rem(325);
    height: rem(240);
    border-radius: 15px 15px 0 0;
    margin-bottom: rem(30);
    background: url(../../../images/image-header-mobile.jpg);
    background-size: cover;
    background-blend-mode:  multiply;
    background-color: var(--violet-accent);
    // opacity: 0.99;
  }

  &_text_wrapper {
    padding: rem(15);
  }

  &_text {
    padding: 0;
    margin-bottom: rem(30);
  }

  &_title {
    margin-bottom: rem(20);
  }

  &_title--accent {
    color: var(--violet-accent);
  }

  &_paragraph {
    letter-spacing: rem(0.575);
    line-height: 1.75;
    color: var(--main-para-white);
  }

  &_stat {
    margin-bottom: rem(15);
  }

  &_stat_heading {
    color: var(--stat-heading-white);
    text-transform: uppercase;
    margin-top: rem(5);
  }

  @include breakpoint(large) {
    &_img {
      width: rem(540);
      height: rem(440);
      margin: 0;
      border-radius: 0 15px 15px 0;
      object-fit: cover;
    }

    &_text_wrapper {
      text-align: start;
      width: rem(400);
      padding: 0;
      margin-left: rem(70);
    }

    &_title {
      line-height: 1.5;
      font-size: 2rem;
    }

    &_paragraph {
      margin-bottom: rem(40);
    }

    &_stats {
      justify-content: space-between;
      width: 100%;
    }

    &_stat {
      margin-bottom: 0;
    }
  }
}
